{{template "base" .}}

{{define "title"}}
	By one widget
{{end}}

{{define "content"}}
	<h2 class="mt-3 text-center">Buy one widget</h2>	
	<hr />
	<img scr="/static/widget.png" alt="widget" class="image-fluid rounded mx-auto d-block"/>
{{end}}
